{% set page = 1 %}
{% for specimenId, classWithDiff in stats.summary %}
    <div class="wrapper well well-sm ">
        <div class="row">
        <div class="col-xs-12">
        {% set specimen = attribute(specimensRecolnat, specimenId) | first %}
        {% set determination = specimen.determinations | first %}
        {% if ( loop.index % itemNumberPerPage) == 0  %}
            {% set page = page +1 %}
        {% endif %}
        
        {% if determination.taxon is defined and determination.taxon is not empty %}
            {% set taxon = determination.taxon %}
        {% else %}
            {% set taxon = 'label.notaxon' | trans %}
        {% endif %}
        {% if page != currentPage %}
            {% set path = path('diff', {'page' : page}) %}
        {% else %}
            {% set path='' %}
        {% endif %}
        <a href="{{path}}#{{specimenId}}">{{taxon}} {{page}}</a>
        {% for class, nbDiffs in classWithDiff %}
            <div>
                {{class}} : 
                {{ 'label.differences' | transchoice(nbDiffs.records, {'%diff_count%': nbDiffs.records}) }}
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
{% endfor %}
