{% set classesName = {1:'specimen',2:'bibliography',3:'determination',4:'localisation',5:'recolte',6:'stratigraphy',7:'taxon'} %}
<div class="well">
    <form id="form-filters">
        <div class="form-group filter-level1" >
            <label for="radio1-selectLevel1">{{ 'label.choixRecolnat' | trans }}</label>
            <input type="radio" id="radio1-selectLevel1" name="selectLevel1" value="recolnat">
            <label for="radio2-selectLevel1">{{ 'label.choixInstitution' | trans }}</label>
            <input type="radio" id="radio2-selectLevel1" name="selectLevel1" value="institution">
        </div>
        <div class="form-group filter-level2">
            <label for="radio1-selectLevel2">{{ 'label.selectAllPages' | trans }}</label>
            <input type="radio" id='radio1-selectLevel2' name="selectLevel2" value="allDatas">
            <label for="radio2-selectLevel2">{{ 'label.selectPageDatas' | trans }}</label>
            <input type="radio" id="radio2-selectLevel2" name="selectLevel2" value="page">
        </div>
        <div class="form-group filter-level3">
            <label for="checkbox0-selectLevel3">{{ 'label.selectAllClasses' | trans}}</label>
            <input type="checkbox" id='checkbox0-selectLevel3' name="selectLevel3[]" value="allClasses">
            <p><label>{{ 'label.selectOnlyClass' | trans}} : </label><br />
            {% for className in classesName %}
            <label for="checkbox{{loop.index}}-selectLevel3">{{ ('label.'~className~'.plural') |trans({},'entity') }}</label>
            <input type="checkbox" id='checkbox{{loop.index}}-selectLevel3' name="selectLevel3[]" value="{{className}}">
            {% endfor %}
            </p>
        </div>
            
        <input type="hidden" name="institutionCode" value="{{institutionCode}}">
        <input type="hidden" name="page" value="{{currentPage}}">
        <button type="submit" class="btn btn-default">{{ 'label.filtrer' | trans }}</button>
    </form>
</div>