{% if attribute(diffs.datas, specimenCode) is not empty %}
<table class="diff table table-striped table-bordered table-condensed">
    <caption class="bg-primary">Différences</caption>
    <thead>
        <tr>
            <th class="xsmall">&nbsp;</th>
            <th class="col-md-1"></th>
            <th class="col-md-5">Recolnat</th>
            <th class="xsmall">&nbsp;</th>
            <th class="col-md-5">Institution</th>
            <th class="xsmall">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% set specimen = attribute(diffs.datas, specimenCode) %}
        {% for className, details in specimen.classes %}
            {% set relationId = details.id %}
                {% set relationRecolnat = relationById(specimenRecolnat, className, relationId) %}
                {% set relationInstitution = relationById(specimenInstitution, className, relationId) %}
                {% set relationToString = relationByIdToString(specimenRecolnat, className, relationId) %}
                {% set rowspan = details.fields | length  +1 %}
                    <tr class="{{ className | lower }} light">
                        <td class="diff-class" rowspan="{{rowspan}}" style="width: 10px !important;">
                            <div>{{('label.' ~ className|lower ~ '.abbr') |trans({},'entity')|capitalize}}</div>
                          </td>
                        <td colspan="2">{{ relationToString }}</td>
                        <td>
                            <input type="radio" data-class="{{className}}" data-type='diff-entity' name="{{relationId}}" value="recolnat">
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <input type="radio" data-class="{{className}}" data-type='diff-entity' name="{{relationId}}" value="institution">
                        </td>
                    </tr>
            
            {% for fieldName, datas in details.fields %}
                    <tr class="{{ className | lower }} lighter">
                        <td>{{ ('label.'~className|lower~'.fields.'~fieldName)|trans({},'entity') }}</td>
                        <td>
                            {{ fieldToString(relationRecolnat, fieldName)}}
                        </td>
                        <td>
                            {% include 'default/partial/inputRadioDiff.html.twig' with { 'value' : 'recolnat'} %}
                        </td>
                        <td>
                            {{ fieldToString(relationInstitution, fieldName)}}
                        </td>
                        <td>
                            {% include 'default/partial/inputRadioDiff.html.twig' with {'value' : 'institution'} %}
                        </td>
                    </tr>
                {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
