{% dump(specimen) %}
{% set multimedias = specimen.multimedias %}
{% set determination = specimen.determinations | first %}
{% set taxon = determination.taxon %}
{% set collection = specimen.collection %}
{% set recolte = specimen.recolte %}
{% set localisation = recolte.localisation %}

<div class="row">
    <div class="col-sm-1">
        <div style="padding-left: 80%;" role="toolbar" class="btn-toolbar">
            <input type="checkbox" name="check-specimen[]" value="{{specimenCode}}">
        </div>
    </div>
    <div class="col-sm-8">
        {% include 'default/helpers/linkSpecimenFull.html.twig' %}
        <span class="row">
            <div class="col-sm-6">
                    {{printLabelAndField(taxon, 'taxon', 'family', false, '<br />')|raw}}
                    {{printLabelAndField(taxon, 'taxon', 'genus', false, '<br />')|raw}}
                    {{printLabelAndField(taxon, 'taxon', 'scientificname', false, '<br />')|raw}}
            </div>
            <div class="col-sm-6">
                {% if localisation is not empty %}
                    {{printLabelAndField(localisation, 'localisation', 'country', false, '<br />')|raw}}
                    {{printLabelAndField(localisation, 'localisation', 'county', false, '<br />')|raw}}
                    {{printLabelAndField(localisation, 'localisation', 'locality', false, '<br />')|raw}}
                    {{printLabelAndField(localisation, 'localisation', 'verbatimlocality', false, '<br />')|raw}}
                    {{printLabelAndField(recolte, 'recolte', 'recordedby', false, '<br />')|raw}}
                    {{printLabelAndField(recolte, 'recolte', 'fieldnumber', false, '<br />')|raw}}
                    {{printLabelAndField(recolte, 'recolte', 'eventdate', false, '<br />')|raw}}
                {% endif %}
            </div>
        </span>
    </div>
</div>
