{% if attribute(stats.summary, specimenId) is not empty %}
<table class="diff table table-striped table-bordered table-condensed">
    <caption class="bg-primary">Différences</caption>
    <thead>
        <tr>
            <th class="xsmall">&nbsp;</th>
            <th class="col-md-1"></th>
            <th class="col-md-5">Recolnat</th>
            <th class="xsmall">&nbsp;</th>
            <th class="col-md-5">Institution</th>
            <th class="xsmall">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% set summary = attribute(stats.summary, specimenId) %}
        
        {% for class in summary|keys %}
                {% set diffSpecimen = attribute(stats.classes, class) %}
                {% set diffs = attribute(diffSpecimen, specimenId) %}

                {% set comptFields = 0 %}
                {% for relationId, fields in diffs %}
                    {% for fieldName, data in fields %}
                        {% set comptFields = comptFields+1 %}
                    {% endfor %}
                {% endfor %}
                {% for relationId, fields in diffs %}

                    {% set relationRecolnat = relationById(specimenRecolnat, class, relationId) %}
                    {% set relationInstitution = relationById(specimenInstitution, class, relationId) %}
                    {% set relationToString = relationByIdToString(specimenRecolnat, class, relationId) %}

                    {% set rowspan = diffs|length + comptFields  %}
                    <tr class="diff-entity success">
                        {% if loop.first %}
                            <td class="warning diff-class{{loop.parent.loop.index is even ? " even" :"" }}" rowspan="{{rowspan}}" style="width: 10px !important;">
                                <div>{{('label.' ~ class|lower ~ '.abbr') |trans({},'entity')|capitalize}}</div>
                              </td>
                        {% endif %}
                        <td colspan="2">{{ relationToString }}</td>
                        <td>
                            <input type="radio" data-class="{{class}}" data-type='diff-entity' name="{{relationId}}" value="recolnat">
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <input type="radio" data-class="{{class}}" data-type='diff-entity' name="{{relationId}}" value="institution">
                        </td>
                    </tr>
                    {% for fieldName, data in fields %}
                    <tr class="diff-field">
                        <td>{{ ('label.'~class|lower~'.fields.'~fieldName)|trans({},'entity') }}</td>
                        <td>
                            {{ fieldToString(relationRecolnat, fieldName)}}
                        </td>
                        <td>
                            {% include 'default/partial/inputRadioDiff.html.twig' with { 'value' : 'recolnat'} %}
                        </td>
                        <td>
                            {{ fieldToString(relationInstitution, fieldName)}}
                        </td>
                        <td>
                            {% include 'default/partial/inputRadioDiff.html.twig' with {'value' : 'institution'} %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
