{% if attribute(stats.summary, specimenId) is not empty %}
<table class="diff table table-striped table-bordered table-condensed">
    <caption class="bg-primary">Différences</caption>
    <thead>
        <tr>
            <th class="col-md-1">Class</th>
            <th class="col-md-1">&nbsp;</th>
            <th class="col-md-4">Recolnat</th>
            <th class="col-md-4">Institution</th>
            <th class="col-md-1">R.</th>
            <th class="col-md-1">I.</th>
        </tr>
    </thead>
    <tbody>
        {% set summary = attribute(stats.summary, specimenId) %}
        
        {% for class in summary|keys %}
                {% set diffSpecimen = attribute(stats.classes, class) %}
                {% set diffs = attribute(diffSpecimen, specimenId) %}
                
                {% for relationId, fields in diffs %}
                    {% set relationRecolnat = relationById(specimenRecolnat, class, relationId) %}
                    {% set relationInstitution = relationById(specimenInstitution, class, relationId) %}
                    {% set relationToString = relationByIdToString(specimenRecolnat, class, relationId) %}

                    <tr class="diff-entity success">
                            <td class="warning diff-class">
                                {{('label.' ~ class|lower ~ '.abbr') |trans({},'entity')}}
                              </td>
                        <td colspan="3">{{ relationToString }}
                        </td>
                        <td class="input"><input type="radio" data-type='diff-entity' name="{{relationId}}" value="recolnat"></td>
                        <td class="input"><input type="radio" data-type='diff-entity' name="{{relationId}}" value="institution"></td>
                    </tr>
                    {% for fieldName, data in fields %}
                    <tr class="diff-field">
                        <td colspan="2">{{ ('label.'~class|lower~'.fields.'~fieldName)|trans({},'entity') }}</td>
                        <td>
                            {{ fieldToString(relationRecolnat, fieldName)}}
                        </td>
                        <td>
                            {{ fieldToString(relationInstitution, fieldName)}}
                        </td>
                        <td class="input"><input type="radio"  data-type='diff-field' name="{{relationId}}[{{fieldName}}]" value="recolnat"></td>
                        <td class="input"><input type="radio" data-type='diff-field' name="{{relationId}}[{{fieldName}}]" value="institution"></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
