<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Recolnat Diff{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/AppBundle/css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/AppBundle/css/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/AppBundle/css/recolnat.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/AppBundle/images/favicon.png') }}" type="image/x-icon"/>
</head>
<body>

{% block navbar %}
<div id="parameters" class="hidden" data-institutioncode="{{ institutionCode is defined ? institutionCode:'' }}"
     data-collectioncode="{{ collectionCode is defined ? collectionCode:'' }}"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path("index") }}" class="navbar-brand">Recolnat - Diffs</a>
            {% if app.environment=='dev' %}
                <p class="navbar-text bg-warning text-uppercase">{{ default_connection }}</p>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ 'nav.accueil' | trans }}</a></li>
                <li>
                    <a href="{{ path('viewPrefsUser', {'institutionCode':'MHNAIX'}) }}">{{ 'nav.parametres' | trans }}</a>
                </li>
                <li><a href="#">{{ 'nav.profil' | trans }}</a></li>
                <li><a href="#">{{ 'nav.aide' | trans }}</a></li>
                <li><a href="{{ logout_path('main') }}">{{ 'login.logout' | trans({}, 'user') }}</a></li>
            </ul>
            {#<form class="navbar-form navbar-right">#}
            {#<input type="text" placeholder="Search..." class="form-control">#}
            {#</form>#}
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block body %}{% endblock %}
<div class="modal fade" id="spinnerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div style="height:200px">
                    <span id="searching_spinner_center"
                          style="position: absolute;display: block;top: 50%;left: 50%;"><img
                                src="{{ asset('assets/AppBundle/images/load.gif') }}" alt=""/></span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'entity' }) }}"></script>
<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ asset('assets/AppBundle/js/recolnat.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% block javascripts %}

{% endblock %}
<script type="text/javascript">
    $(document).ready(function () {
        // Toast Messages
        {% for flash_type, flashes in app.session.flashbag.all %}
        {% for flash_message in flashes %}
        $.toaster({
            message: '{{ flash_message }}',
            priority: '{{ flash_type }}',
            title: '{{ ('label.' ~ flash_type) | trans }}'
        });
        {% endfor %}
        {% endfor %}
    });
</script>
</html>
