{% extends 'base.html.twig' %}

{% block body %}
    {% set summary = pagination.items %}
    {% dump(stats)%}
    {% if stats is not empty %}
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 facets" >
            {% include 'default/partial/facet_stats.html.twig' with {'stats' : stats, 'itemNumberPerPage' : pagination.getItemNumberPerPage, 'currentPage' : pagination.getCurrentPageNumber} %}
        </div>
        
        <div class="col-xs-7 col-sm-7 col-md-8 col-lg-9">
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% for specimenId, classWithDiff in summary %}
            <div class="well{{ loop.index is odd ? ' odd' : '' }}" id="{{specimenId}}">
            {% set specimenRecolnat = attribute(specimensRecolnat, specimenId) | first %}
            {% set specimenInstitution = attribute(specimensInstitution, specimenId) | first %}
            
            {% include 'default/partial/short_specimen.html.twig' with {'specimen' : specimenRecolnat} %}
            
            {% if loop.index is odd %}
                <div class="clearfix">
                {% include 'default/partial/short_diff_specimen.html.twig' with {'specimenRecolnat' : specimenRecolnat, 'specimenInstitution': specimenInstitution, 'specimenId' : specimenId, 'stats' : stats} %}
                </div>
            {% else %}
                <div class="clearfix">
                {% include 'default/partial/short_diff_specimen2.html.twig' with {'specimenRecolnat' : specimenRecolnat, 'specimenInstitution': specimenInstitution, 'specimenId' : specimenId, 'stats' : stats} %}
                </div>
            {% endif %}
            
            </div>
        {% endfor %}
        {% endif %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('table.diff').find( ":radio" ).change(function() {
            var tableContext = $(this).parents('table.diff');
            console.log(tableContext);
            if ($(this).data('type') == 'diff-entity') {
                var relationId = $(this).attr('name') ;
                var choix = $(this).attr('value') ;
                tableContext.find( ":radio")
                        .filter("[name^='"+relationId+"']")
                        .filter('[data-type="diff-field"]')
                        .filter('[value = "'+choix +'"]')
                        .map(
                        function() {
                            $(this).prop('checked', true);
                        });
            }
        });
    });
    </script>
{% endblock %}