{% extends 'base.html.twig' %}

{% block body %}
    <h1>Module de diff</h1>
    {% dump(stats)%}
    {% for specimenId, classWithDiff in stats.summary %}
        <div>
            {% set specimen = attribute(specimens, specimenId) | first %}
            {% set determination = specimen.determinations | first %}
            {% if determination.taxon is defined and determination.taxon is not empty %}
                {{ determination.taxon}}
            {% else %}
                Pas de taxon associé
            {% endif %}
            <a href="#{{specimenId}}">{{specimenId}}</a> : 
            {% for class, nbDiffs in classWithDiff %}
                {{class}} => {{nbDiffs.records}} {{ 'label.records.modifies' | trans }}
                {{nbDiffs.fields}} {{ 'label.champs.modifies' | trans }} {% if loop.last == false %} | {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    {% for class, classDiff in stats.classes %}
        <h2>{{ class }}</h2>
        <h3>{{'title.stats' | trans }}</h3>
        <ul>
        {% if classDiff|length > 0 %}
            {% for specimenId, record in classDiff %}
                <h4 id="{{specimenId}}">{{ specimenId }}</h4>
                <ul>
                {% for recordId, fields in record %}
                    <li>{{recordId}} - {{fields|length}}</li>
                    <li>{{ 'label.differences' | transchoice(fields|length, {
                                '%search_count%': fields|length}) }}</li>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'header.compare.fieldname' | trans }}</th>
                                <th>{{ 'header.compare.recolnat' | trans }}</th>
                                <th>{{ 'header.compare.institution' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fieldname, data in fields %}
                            <tr>
                                <td>{{ ('label.'~class|lower~'.fields.'~fieldname)|trans({},'entity') }}</td>
                                <td>{{ data.recolnat.timestamp is defined ? data.recolnat|date('m/d/Y') : data.recolnat }}</td>
                                <td>{{ data.institution.timestamp is defined ? data.institution|date('m/d/Y') : data.institution }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
        </ul>
    {% endfor %}
{% endblock %}
