{% extends 'base.html.twig' %}

{% block body %}
    <h1>Module de diff</h1>
    
    {% for specimen in specimens %}
        {% dump(specimen)%}
        <div class="col-md-3">
            {{specimen.getSpecimenId}} : 
            {% set determination = specimen.determinations | first %}
            {% if determination.taxon is defined and determination.taxon is not empty %}
                {{ determination.taxon}}
            {% else %}
                Pas de taxon associé
            {% endif %}
        </div>
    {% endfor %}
    
    {% for specimenId, classWithDiff in diffs.summary %}
        <div><a href="#{{specimenId}}">{{specimenId}}</a> : 
        {% for class, nbDiffs in classWithDiff %}
            {{class}} => {{nbDiffs}} {% if loop.last == false %} | {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    {% for class, classDiff in diffs.classes %}
        <h2>{{ class }}</h2>
        <h3>{{'title.stats' | trans }}</h3>
        <ul>
        {% if classDiff.fields is defined %}
            {% for fieldname, stats in classDiff.fields %}
                <li>{{ ('label.fields.'~fieldname)|trans }} : {{stats.compt}} {{'label.differences' | trans}}</li>
            {% endfor %}
        {% endif %}
        </ul>
        {% if classDiff.records is defined %}
            <h3>Datas</h3>
            {% for specimenId, fields in classDiff.records %}
                <h4 id="{{specimenId}}">{{ specimenId }}</h4>
                <ul>
                {% for fieldname, data in fields %}
                    <li>{{ ('label.fields.'~fieldname)|trans }}
                        <ul>
                            <li>R : {{ data.recolnat.timestamp is defined ? data.recolnat|date('m/d/Y') : data.recolnat }}</li>
                            <li>I : {{ data.institution.timestamp is defined ? data.institution|date('m/d/Y') : data.institution }}</li>
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

