{% extends 'base.html.twig' %}

{% set sumSpecimens = 0 %}
{% block body %}
    <ul>
    {% for file in files %}
        <li>
            <a href="{{ path('viewfile', {'filename':file.getFilename, 'institutionCode':institutionCode }) }}">{{file.getFilename }}</a>&nbsp;
            {{'creele'|trans}} {{ file.getCTime|date("d/m/Y H:i:s") }}&nbsp;
            {{'modifiele'|trans}} {{ file.getMTime|date("d/m/Y H:i:s") }}&nbsp;
        </li>
    {% endfor %}
    </ul>
{% endblock %}