{% extends 'base.html.twig' %}

{% set sumSpecimens = 0 %}
{% block body %}
    {% if stats is not empty %}
        <table class="table table-bordered">
            <tr>
                <th>&nbsp;</th>
                <th>{{'header.nb.specimens' | trans}}</th>
                <th>{{'header.nb.differences' | trans}}</th>
                <th>{{'header.nb.reste' | trans}}</th>
                <th>{{'header.nb.choix' | trans}}</th>
            </tr>
        {% for class in stats|keys %}
            {% set sumSpecimens = sumSpecimens + attribute(stats, class) | length %}
            <tr>
                {% set totalCountClass=attribute(stats, class) | length %}
                <td>{{('label.'~class|lower) | transchoice(totalCountClass, {}, 'entity')|capitalize}}</td>
                {% set transClass=('label.'~class|lower) | transchoice(totalCountClass, {}, 'entity') %}
                <td>
                    {% if totalCountClass > 0 %}
                    <a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}" 
{#                       title="{{'title.link.all' | transchoice(totalCountClass, {'%count%' : totalCountClass, '%className%' : transClass})}}"#}
                       >
                    {% endif %}
                        {{totalCountClass}}
                    {% if totalCountClass > 0 %}</a>{% endif %}
                </td>
                <td><a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}">{{attribute(total, class)}}</a></td>
                <td>
                    {% set nbTodo = attribute(totalChoices, class) is defined ? attribute(total, class) - attribute(totalChoices, class) : attribute(total, class) %}
                    {% if nbTodo > 0 %}
                        <a href="{{path('todo', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}">
                    {% endif %}
                            {{ nbTodo }}
                    {% if nbTodo > 0 %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% set nbChoices = attribute(totalChoices, class) is defined ? attribute(totalChoices, class) : 0 %}
                    {% if nbChoices > 0 %}
                        <a href="{{path('choices', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}" title="">
                    {% endif %}
                            {{ nbChoices }}
                    {% if nbChoices > 0 %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>{{ 'label.total' | trans }}</td>
            <td><a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ sumSpecimens }}</a></td>
            <td><a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ total.sum }}</a></td>
            <td><a href="{{path('todo', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ total.sum - totalChoices.sum }}</a></td>
            <td><a href="{{path('choices', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ totalChoices.sum }}</a></td>
        </tr>
        </table>
     {% endif %}
    <a href="{{path('export', {'filename' : filename, 'institutionCode' : institutionCode})}}" class="exportLink">Export</a>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
    $(document).ready(function(){
        $(".exportLink").on('click', function(event) {
            var url = $(this).attr('href');
            $.ajax({
                url : url,
                method: "POST"
            })
            .done(function(data) {
                console.log(data);
            });
            event.preventDefault();
        })
    });
    </script>
{% endblock %}