{% extends 'base.html.twig' %}

{% block body %}
    {% set summary = pagination.items %}
    {% if stats is not empty %}
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3 sidebar" id="facets" >
            {% include 'default/partial/facet_stats.html.twig' with {'itemNumberPerPage' : pagination.getItemNumberPerPage, 'currentPage' : pagination.getCurrentPageNumber, 'choices':choicesFacets} %}
        </div>
        
        <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-4 col-lg-offset-3 col-xs-7 col-sm-7 col-md-8 col-lg-9" id="diffs" data-institutioncode="{{institutionCode}}">
            <a href="{{path('export', {'institutionCode' : institutionCode})}}">Export</a>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                <div>
                    <label for="maxItemPerPage">{{'label.maxItemPerPage' | trans }}</label>
                    <select name="maxItemPerPage" id="maxItemPerPage">
                        <option value="5" {{maxItemPerPage == 5 ? 'selected="true"':''}}>5</option>
                        <option value="10" {{maxItemPerPage == 10 ? 'selected="true"':''}}>10</option>
                        <option value="20" {{maxItemPerPage == 20 ? 'selected="true"':''}}>20</option>
                        <option value="50" {{maxItemPerPage == 50 ? 'selected="true"':''}}>50</option>
                    </select>
                </div>
            </div>
            {% include 'default/partial/filter.html.twig' with { 'currentPage': pagination.getCurrentPageNumber} %}
        {% for specimenId, classWithDiff in summary %}
            <div class="well{{ loop.index is odd ? ' odd' : '' }} specimen" id="{{specimenId}}">
            {% set specimenRecolnat = attribute(specimensRecolnat, specimenId) | first %}
            {% set specimenInstitution = attribute(specimensInstitution, specimenId) | first %}
            
            {% include 'default/partial/short_specimen.html.twig' with {'specimen' : specimenRecolnat} %}

            <div class="clearfix">
            {% include 'default/partial/short_diff_specimen.html.twig' %}
            </div>
            
            </div>
        {% endfor %}
        {% endif %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% include 'default/partial/smallModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('AppBundle/js/viewDiffs.js') }}"></script>
{% endblock %}