{% extends 'base.html.twig' %}

{% block body %}
    {% set summary = pagination.items %}
    {% if stats is not empty %}
    <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar" id="facets" >
            {% include 'default/partial/sidebar_diffs.html.twig' with {'itemNumberPerPage' : pagination.getItemNumberPerPage, 'currentPage' : pagination.getCurrentPageNumber, 'choices':choicesFacets} %}
        </div>
        
        <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10" id="diffs" data-institutioncode="{{institutionCode}}" data-selectedclassname="{{selectedClassName}}">
            
            <ol class="breadcrumb">
            <li><a href="{{path('index')}}">{{'bradcrumb.diffs' | trans }}</a></li>
            <li>{{selectedClassName is defined and selectedClassName is not null ? 'label.'~selectedClassName | trans : ''}}</li>
            <li class="active">{{ pagination.getTotalItemCount }} {{ 'specimens' | trans }}</li>
        </ol>
            
            <a href="{{path('export', {'institutionCode' : institutionCode})}}">Export</a>
            <div class="navigation row">
                <div class="col-sm-7 col-sm-offset-3">
                {{ knp_pagination_render(pagination) }}
                <div class="pull-right">
                    <label for="maxItemPerPage">{{'label.maxItemPerPage' | trans }}</label>
                    <select name="maxItemPerPage" id="maxItemPerPage">
                        <option value="5" {{maxItemPerPage == 5 ? 'selected="true"':''}}>5</option>
                        <option value="10" {{maxItemPerPage == 10 ? 'selected="true"':''}}>10</option>
                        <option value="20" {{maxItemPerPage == 20 ? 'selected="true"':''}}>20</option>
                        <option value="50" {{maxItemPerPage == 50 ? 'selected="true"':''}}>50</option>
                    </select>
                </div>
            </div>
                
            </div>
            {% include 'default/partial/filter.html.twig' with { 'currentPage': pagination.getCurrentPageNumber} %}
            {% for specimenId, classWithDiff in summary %}
                <section class="well{{ loop.index is odd ? ' odd' : '' }} specimen" id="{{specimenId}}" data-specimenid="{{specimenId}}">
                    {% set specimenRecolnat = attribute(specimensRecolnat, specimenId) | first %}
                    {% set specimenInstitution = attribute(specimensInstitution, specimenId) | first %}

                    {% include 'default/partial/short_specimen.html.twig' with {'specimen' : specimenRecolnat} %}

                    <div class="clearfix">
                    {% include 'default/partial/short_diff_specimen.html.twig' %}
                    </div>
                </section>
            {% endfor %}
        {% endif %}
            <div class="navigation row">
                <div class="col-sm-6 col-sm-offset-4">
                {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% include 'default/partial/smallModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('AppBundle/js/viewDiffs.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
            $('#maxItemPerPage').change(function(){
                    {% if selectedClassName is not defined %}
                        {% set selectedClassName = "all" %}
                    {% endif %}
                    var url = "{{path(app.request.attributes.get('_route'),{'maxItemPerPage': '_itemNum','institutionCode':institutionCode, 'selectedClassName' : selectedClassName})}}";
                    maxItemPerPage = $('#maxItemPerPage').find(":selected").text();
                    localStorage.setItem('maxItemPerPage', maxItemPerPage);
                    jQuery(location).attr('href', url.replace('_itemNum',maxItemPerPage));
                });
                
            function maybeScrollToHash() {
                // Permet de placer le scroll au bon endroit en prenant en compte la barre de menu fixe
                if (window.location.hash && $(window.location.hash).length) {
                    var newTop = $(window.location.hash).offset().top +parseInt($(window.location.hash).css('padding-top'),10) - $('.navbar-fixed-top').height() - parseInt($('body').css('padding-top'),10) +parseInt($('.navbar-fixed-top').css('margin-bottom'),10);
                    $(window).scrollTop(newTop);
                }
            }

            $(window).bind('hashchange', function(e) {
                e.preventDefault();
                maybeScrollToHash();
            });

            maybeScrollToHash(); 
        });
    </script>
{% endblock %}