{% extends 'base.html.twig' %}

{% block body %}
    {% set datas = diffs.datas %}
    {% if datas is not empty %}
    <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar" id="facets" >
            {% include 'default/partial/sidebar_diffs.html.twig' with {'itemNumberPerPage' : specimensCode | length, 'currentPage' : 1, 'choices':choicesFacets} %}
        </div>
        
        <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10" id="diffs" data-collectionCode="{{collectionCode}}" data-institutioncode="{{institutionCode}}" data-selectedclassname="{{selectedClassName is defined ? selectedClassName : ''}}">
            
            <ol class="breadcrumb">
                <li>{{institutionCode}}</li>
                <li>{{collectionCode}}</li>
                <li><a href="{{path('viewfile', {'collectionCode' : collectionCode, 'institutionCode':institutionCode})}}">{{'diffs' | transchoice(2)| capitalize }}</a></li>
                <li class="active">{{ specimensCode | length }} {{ 'label.specimen' | transchoice(specimensCode | length, {}, 'entity') }}</li>
            </ol>
                
            {% include 'default/partial/filters.html.twig' with { 'currentPage':1} %}
            {% for specimenCode, classWithDiff in datas %}
                <section class="well{{ loop.index is odd ? ' odd' : '' }} specimen" id="{{specimenCode}}" data-specimencode="{{specimenCode}}">
                    {% set specimenRecolnat = attribute(specimensRecolnat, specimenCode) | first %}
                    {% set specimenInstitution = attribute(specimensInstitution, specimenCode) | first %}

                    {% include 'default/partial/short_specimen.html.twig' with {'specimen' : specimenRecolnat} %}

                    <div class="clearfix">
                    {% include 'default/partial/short_diff_specimen.html.twig' %}
                    </div>
                </section>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% include 'default/partial/smallModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('AppBundle/js/viewDiffs.js') }}"></script>
{% endblock %}