{% extends 'base.html.twig' %}

{% set sumSpecimens = 0 %}
{% block body %}
    <h1 class="page-header">{{'file.stats.title' | trans({'%name%' : institution.institutionCode ~ ' / '~ filename},'user') }}</h1>
    {% if stats is not empty %}
        <table class="table table-bordered">
            <tr>
                <th>&nbsp;</th>
                <th>{{'header.nb.specimens' | trans}}</th>
                <th>{{'header.nb.differences' | trans}}</th>
                <th>{{'header.nb.reste' | trans}}</th>
                <th>{{'header.nb.choix' | trans}}</th>
            </tr>
        {% for class in stats|keys %}
            {% set sumSpecimens = sumSpecimens + attribute(stats, class) | length %}
            <tr>
                {% set totalCountClass=attribute(stats, class) | length %}
                <td>{{('label.'~class|lower) | transchoice(totalCountClass, {}, 'entity')|capitalize}}</td>
                {% set transClass=('label.'~class|lower) | transchoice(totalCountClass, {}, 'entity') %}
                <td>
                    {% if totalCountClass > 0 %}
                    <a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}" 
{#                       title="{{'title.link.all' | transchoice(totalCountClass, {'%count%' : totalCountClass, '%className%' : transClass})}}"#}
                       >
                    {% endif %}
                        {{totalCountClass}}
                    {% if totalCountClass > 0 %}</a>{% endif %}
                </td>
                <td><a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}">{{attribute(total, class)}}</a></td>
                <td>
                    {% set nbTodo = attribute(totalChoices, class) is defined ? attribute(total, class) - attribute(totalChoices, class) : attribute(total, class) %}
                    {% if nbTodo > 0 %}
                        <a href="{{path('todo', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}">
                    {% endif %}
                            {{ nbTodo }}
                    {% if nbTodo > 0 %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% set nbChoices = attribute(totalChoices, class) is defined ? attribute(totalChoices, class) : 0 %}
                    {% if nbChoices > 0 %}
                        <a href="{{path('choices', {'filename' : filename, 'institutionCode':institutionCode, 'selectedClassName' : class|lower})}}" title="">
                    {% endif %}
                            {{ nbChoices }}
                    {% if nbChoices > 0 %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>{{ 'label.total' | trans }}</td>
            <td><a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ sumSpecimens }}</a></td>
            <td><a href="{{path('diffs', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ total.sum }}</a></td>
            <td><a href="{{path('todo', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ total.sum - totalChoices.sum }}</a></td>
            <td><a href="{{path('choices', {'filename' : filename, 'institutionCode':institutionCode})}}">{{ totalChoices.sum }}</a></td>
        </tr>
        </table>
     {% endif %}
    <a href="{{path('exportDwc', {'filename' : filename, 'institutionCode' : institutionCode})}}" class="exportLink btn btn-default" role="button">
        {{'downloadDwc'|trans}}
    </a>
    <a href="{{path('exportCsv', {'filename' : filename, 'institutionCode' : institutionCode})}}" class="exportLink btn btn-default" role="button">
        {{'downloadCsv'|trans}}
    </a>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
    $(document).ready(function(){
        var modal = $("#spinnerModal") ;
        $(".exportLink").on('click', function(event) {
            var link =$(this) ;
            var url = $(this).attr('href');
            $.ajax({
                url : url,
                method: "POST",
                beforeSend : function(){
                    modal.find('.modal-body h4').remove();
                    modal.find('.modal-body').prepend('<h4 class="modal-title center-block">Génération des fichiers en cours</h4>');
                }
            })
            .done(function(data) {
                console.log(data);
            })
            .success(function(data) {
                path =Routing.generate('download', { path: data.file });
                window.location=path;
             });
            event.preventDefault();
        })
    });
    </script>
{% endblock %}