{% extends 'base.html.twig' %}

{% block body %}
    {% set datas = pagination.items %}
    {% if diffs is not empty %}
        <div id="wrapper" class="toggled">


            <div id="sidebar-wrapper" >
                {% include 'default/partial/sidebar_diffs.html.twig' with {'itemNumberPerPage' : pagination.getItemNumberPerPage, 'currentPage' : pagination.getCurrentPageNumber, 'choices':choicesFacets} %}
            </div>
            <div id="page-content-wrapper">
                    <button type="button" id="menu-toggle" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>
{#                <div class="clearfix">&nbsp;</div>#}
                    <ol class="breadcrumb col-sm-offset-1">
                            <li>{{institutionCode}}</li>
                            <li>{{collectionCode}}</li>
                            <li><a href="{{path('viewfile', {'collectionCode' : collectionCode, 'institutionCode':institutionCode})}}">{{'diffs' | transchoice(2)| capitalize }}</a></li>
                            <li>{{selectedClassName is defined and selectedClassName is not null ? ('label.'~selectedClassName|lower) | transchoice(pagination.getTotalItemCount, {}, 'entity')|capitalize : ''}}</li>
                            <li class="active">{{ pagination.getTotalItemCount }} {{ 'label.specimen' | transchoice(pagination.getTotalItemCount, {}, 'entity') }}</li>
                        </ol>
                    <div id="diffs" data-collectionCode="{{collectionCode}}" data-institutioncode="{{institutionCode}}" data-selectedclassname="{{selectedClassName}}">
                        <div class="navigation row">
                            <div class="col-sm-7 col-sm-offset-3">
                                {{ knp_pagination_render(pagination) }}
                                <div class="pull-right">
                                    <label for="maxItemPerPage">{{'label.maxItemPerPage' | trans }}</label>
                                    <select name="maxItemPerPage" id="maxItemPerPage">
                                        <option value="5" {{maxItemPerPage == 5 ? 'selected="true"':''}}>5</option>
                                        <option value="10" {{maxItemPerPage == 10 ? 'selected="true"':''}}>10</option>
                                        <option value="20" {{maxItemPerPage == 20 ? 'selected="true"':''}}>20</option>
                                        <option value="50" {{maxItemPerPage == 50 ? 'selected="true"':''}}>50</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        {% include 'default/partial/filters.html.twig' with { 'currentPage': pagination.getCurrentPageNumber} %}
                        {% for specimenCode, classWithDiff in datas %}
                            <section class="well{{ loop.index is odd ? ' odd' : '' }} specimen" id="{{specimenCode}}" data-specimencode="{{specimenCode}}">
                                {% set specimenRecolnat = attribute(specimensRecolnat, specimenCode) | first %}
                                {% set specimenInstitution = attribute(specimensInstitution, specimenCode) | first %}

                                {% include 'default/partial/short_specimen.html.twig' with {'specimen' : specimenRecolnat} %}

                                <div class="clearfix">
                                    {% include 'default/partial/short_diff_specimen.html.twig' %}
                                </div>
                            </section>
                        {% endfor %}
                    {% endif %}
                    <div class="navigation row">
                        <div class="col-sm-6 col-sm-offset-4">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'default/partial/smallModal.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('AppBundle/js/viewDiffs.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
            if (localStorage.getItem('maxItemPerPage')) {
            $('#maxItemPerPage').val(localStorage.getItem('maxItemPerPage'));
            }
            $('#maxItemPerPage').change(function(){
            {% if selectedClassName is not defined %}
                {% set selectedClassName = "all" %}
            {% endif %}
                var url = "{{path(app.request.attributes.get('_route'),{'collectionCode' : collectionCode, 'maxItemPerPage': '_itemNum','institutionCode':institutionCode, 'selectedClassName' : selectedClassName})}}";
                        maxItemPerPage = $('#maxItemPerPage').find(":selected").text();
                        localStorage.setItem('maxItemPerPage', maxItemPerPage);
                        jQuery(location).attr('href', url.replace('_itemNum', maxItemPerPage));
                });
        </script>
    {% endblock %}