{% extends 'RecolnatDarwinCoreBundle::template.html.twig' %}
{% block content %}
    <table class="table">
        {% for id,occurence in diffHtml.getCore.getData %}
            {% set identity = identification.getData(id, 'scientificname') %}
            {% if dwcDiff.rowHasChanges(id) %}
                {% if identity %}
                    <tr>
                        <td>
                            <div class="scientificname">
                                {{ identity }}
                            </div>
                            <div class="scientificnameauthorship">
                                {{ identification.getData(id, 'scientificnameauthorship') }}
                            </div>
                            <div class="catalognumber">
                                Numéro d'inventaire : {{ dwc1.getCore.getData(id, 'catalogNumber') }}
                            </div>
                        </td>
                        <td>
                            <ul>
                                {% for name,data in diffHtml.getCore.getRowWithIndexes(id) %}
                                    {% if dwcDiff.recordHasChange(id, name) %}
                                        <li>{{name}} :  {{ data | raw }}</li>
                                        {% endif %}
                                    {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}