{% extends 'RecolnatDarwinCoreBundle::template.html.twig' %}
{%  block title %}Extraction de {{ file }}{% endblock %}
{% block content %}
    {{file }} : {{ core.getData | length }} enregistrements parsés
    {% for id, row in core.getDatasWithIndexes %}
        <table class="table table-striped table-bordered table-hover table-condensed">
            {% for name,value in row %}
                <tr>
                    <th>
                        {{ name }}
                    </th>
                    <td>
                        {% if name == 'id' %}
                            <a href="{{ path('dwc-record', {'id':value, 'path':file|url_encode}) }}">
                            {% endif %}
                            {{ value }}
                            {% if name == 'id' %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}