{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container-fluid" style="margin-top: 10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Recherche de différences pour la collection {{ collection.collectioncode }}
                    - {{ collection.collectionname }}</h4>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
            <div class="panel-footer">
                <input type="submit"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}
