{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container-fluid" style="margin-top: 10px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Recherche de différences pour la collection {{ collection.collectioncode }}
                    - {{ collection.collectionname }}</h4>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
            <div class="panel-footer">
                <input type="submit"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            function getTGCCookiesValue() {
                var fname = getCookie('CASTGC');
                return fname;
            }

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ')
                        c = c.substring(1);
                    if (c.indexOf(name) == 0)
                        return c.substring(name.length, c.length);
                }
                return null;
            }
            console.log(getTGCCookiesValue());
            $('.js-cookieTGC').val(getTGCCookiesValue());
        });

    </script>
{% endblock %}
