<form action="{{ path('selectedSpecimen', {collectionCode:collectionCode}) }}" class="js-form-selectedSpecimen" data-catalognumber="{{ catalogNumber }}">
    {% set isSelectedSpecimen = isSelected(catalogNumber) %}
    <button type="submit" class="btn btn-default btn-xs js-form-selectedSpecimen" name="{{ isSelectedSpecimen ? 'remove' : 'add' }}"
            title="{{ isSelectedSpecimen ? 'remove.selection' | trans : 'add.selection' | trans }}"
            value="{{catalogNumber}}">
        <span class="glyphicon glyphicon-star{{ isSelectedSpecimen ? ' text-primary' : '-empty' }}" aria-hidden="true"></span>
    </button>
</form>
