{% set multimedias = specimen.multimedias %}
{% set determination = specimen.determinations | first %}
{% set taxon = null %}
{% if determination and determination.taxon %}
    {% set taxon = determination.taxon  %}
{% endif %}
{% set collection = specimen.collection %}
{% set recolte = specimen.recolte %}
{% set localisation = recolte.localisation %}

<div class="row">
    <div class="col-sm-11">
        {{ getFullLink(specimen, collection, taxon) |raw }}
        <div class="row">
            <div class="col-sm-6">
                    {{printLabelAndField(taxon, 'taxon', 'family', false, '<br />')|raw}}
                    {{printLabelAndField(taxon, 'taxon', 'genus', false, '<br />')|raw}}
                    {{printLabelAndField(taxon, 'taxon', 'scientificname', false, '<br />')|raw}}
            </div>
            <div class="col-sm-6">
                {% if localisation is not empty %}
                    {{printLabelAndField(localisation, 'localisation', 'country', false, '<br />')|raw}}
                    {{printLabelAndField(localisation, 'localisation', 'county', false, '<br />')|raw}}
                    {{printLabelAndField(localisation, 'localisation', 'locality', false, '<br />')|raw}}
                    {{printLabelAndField(localisation, 'localisation', 'verbatimlocality', false, '<br />')|raw}}
                    {{printLabelAndField(recolte, 'recolte', 'recordedby', false, '<br />')|raw}}
                    {{printLabelAndField(recolte, 'recolte', 'fieldnumber', false, '<br />')|raw}}
                    {{printLabelAndField(recolte, 'recolte', 'eventdate', false, '<br />')|raw}}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-1">
        <div>
            {% include('@App/Front/partial/formSelectSpecimen.html.twig') %}
        </div>
    </div>
</div>
