{% if stats is not empty %}
    <table class="table table-header-rotated">
        <thead>
        <tr>
            <th class="col-sm-1">&nbsp;</th>
            {% for className, detailedStats in stats %}
                <th class="rotate col-sm-1">
                    <div>
                        <span>{{ ('label.'~className|lower) | transchoice(detailedStats.specimens, {}, 'entity')|capitalize }}</span>
                    </div>
                </th>
            {% endfor %}
            <th class="rotate col-sm-1"><div><span>{{ 'label.total' | trans }}</span></div></th>
        </tr>
        </thead>
        <tbody>

        {% dump(stats) %}
        <tr>
            <th class="row-header">{{ 'header.nb.specimens' | trans }}</th>
            {% for className, detailedStats in stats %}
                <td class="{{ className|lower }}">
                    {% if detailedStats.specimens > 0 %}
                        <a href="{{ path('diffs', {'collectionCode' : collectionCode, 'selectedClassName' : className|lower}) }}">
                            {{ detailedStats.specimens }}
                        </a>
                    {% else %}
                        0
                    {% endif %}
                </td>

            {% endfor %}
            <td>
                <a href="{{ path('diffs', {'collectionCode':collectionCode}) }}">
                    {{ sumStats.specimens }}
                </a>
            </td>
        </tr>
        <tr>
            <th class="row-header">{{ 'header.nb.differences' | trans }}</th>
            {% for className, detailedStats in stats %}
                <td class="{{ className|lower }}">
                    {% if detailedStats.diffs > 0 %}
                        <a href="{{ path('diffs', {'collectionCode' : collectionCode, 'selectedClassName' : className|lower}) }}">
                            {{ detailedStats.diffs }}
                        </a>
                    {% else %}
                        0
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="{{ path('diffs', {'collectionCode':collectionCode}) }}">
                    {{ sumStats.diffs }}
                </a>
            </td>
        </tr>
        <tr>
            <th class="row-header">{{ 'header.nb.reste' | trans }}</th>
            {% for className, detailedStats in stats %}
                <td class="{{ className|lower }}">
                    {% set nbTodos = attribute(statsChoices, className) is defined ? detailedStats.diffs - attribute(statsChoices, className) : detailedStats.diffs %}
                    {% if nbTodos > 0 %}
                        <a href="{{ path('todos', {'collectionCode' : collectionCode, 'selectedClassName' : className|lower}) }}">
                            {{ nbTodos }}
                        </a>
                    {% else %}
                        0
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="{{ path('todos', {'collectionCode':collectionCode}) }}">
                    {{ sumStats.diffs - statsChoices.sum }}
                </a>
            </td>
        </tr>
        <tr>
            <th class="row-header">{{ 'header.nb.choix' | trans }}</th>
            {% for className, detailedStats in stats %}
                <td class="{{ className|lower }}">
                    {% set nbChoices = attribute(statsChoices, className) is defined ? attribute(statsChoices, className) : 0 %}
                    {% if nbChoices > 0 %}
                        <a href="{{ path('choices', {'collectionCode':collectionCode,'selectedClassName':className|lower}) }}"
                           title="">
                            {{ nbChoices }}
                        </a>
                    {% else %}
                        0
                    {% endif %}
                </td>
            {% endfor %}
            <td>
                <a href="{{ path('choices', {'collectionCode':collectionCode}) }}">
                    {{ statsChoices.sum }}
                </a>
            </td>
        </tr>
        <th class="row-header">{{ 'header.lonesomeRecords.recolnat' | trans }}</th>
        {% for className, detailedStats in stats %}
            <td class="{{ className|lower }}">
                {% if attribute(statsLonesomeRecords, className)['recolnat'] > 0 %}
                    <a href="{{ path('lonesomes', {'db':'recolnat','collectionCode':collectionCode,'selectedClassName':className|lower}) }}">
                        {{ attribute(statsLonesomeRecords, className)['recolnat'] }}
                    </a>
                {% else %}
                    0
                {% endif %}
            </td>
        {% endfor %}
        <td>
            <a href="{{ path('lonesomes', {'db':'recolnat','collectionCode':collectionCode}) }}">
                {{ sumLonesomeRecords.recolnat }}
            </a>
        </td>
        </tr>
        <th class="row-header">{{ 'header.lonesomeRecords.institution' | trans }}</th>
        {% for className, detailedStats in stats %}
            <td class="{{ className|lower }}">
                {% if attribute(statsLonesomeRecords, className)['institution'] > 0 %}
                    <a href="{{ path('lonesomes', {'db':'institution','collectionCode':collectionCode,'selectedClassName':className|lower}) }}">
                        {{ attribute(statsLonesomeRecords, className)['institution'] }}
                    </a>
                {% else %}
                    0
                {% endif %}
            </td>
        {% endfor %}
        <td>
            <a href="{{ path('lonesomes', {'db':'institution','collectionCode':collectionCode}) }}">
                {{ sumLonesomeRecords.institution }}
            </a>
        </td>
        </tr>

        {#<tr>
            <td>{{ 'label.total' | trans }}</td>
            <td>
                <a href="{{ path('diffs', {'collectionCode':collectionCode}) }}">
                    {{ sumStats.specimens }}
                </a>
            </td>
            <td>
                <a href="{{ path('diffs', {'collectionCode':collectionCode}) }}">
                    {{ sumStats.diffs }}
                </a>
            </td>
            <td>
                <a href="{{ path('todos', {'collectionCode':collectionCode}) }}">
                    {{ sumStats.diffs - statsChoices.sum }}
                </a>
            </td>
            <td>
                <a href="{{ path('choices', {'collectionCode':collectionCode}) }}">
                    {{ statsChoices.sum }}
                </a>
            </td>
            <td>
                <a href="{{ path('lonesomes', {'db':'recolnat','collectionCode':collectionCode}) }}">
                    {{ sumLonesomeRecords.recolnat }}
                </a>
            </td>
            <td>
                <a href="{{ path('lonesomes', {'db':'institution','collectionCode':collectionCode}) }}">
                    {{ sumLonesomeRecords.institution }}
                </a>
            </td>
        </tr>#}
        </tbody>
    </table>


{% endif %}
