{% extends 'base.html.twig' %}

{% block  body %}
    <h1 class="page-header">{{'prefs.title' | trans({}, 'prefs')}}</h1>
    <ul>
        <li>{{ 'dwc-a' | trans }}
            <ul>
                <li>{{ 'prefs.dwcDelimiter' | trans({}, 'prefs') }} : {{ prefs.dwcDelimiter}}</li>
                <li>{{ 'prefs.dwcEnclosure' | trans({}, 'prefs') }} : {{ prefs.dwcEnclosure}}</li>
                <li>{{ 'prefs.dwcLineBreak' | trans({}, 'prefs') }} : {{ prefs.dwcLineBreak}}</li>
                <li>{{ 'prefs.dwcDateFormat' | trans({}, 'prefs') }} : {{ prefs.getDwcDateFormatForDisplay}}</li>
            </ul>
        </li>
        <li>{{ 'csv' | trans }}
            <ul>
                <li>{{ 'prefs.csvDelimiter' | trans({}, 'prefs') }} : {{ prefs.csvDelimiter}}</li>
                <li>{{ 'prefs.csvEnclosure' | trans({}, 'prefs') }} : {{ prefs.csvEnclosure}}</li>
                <li>{{ 'prefs.csvLineBreak' | trans({}, 'prefs') }} : {{ prefs.csvLineBreak}}</li>
                <li>{{ 'prefs.csvDateFormat' | trans({}, 'prefs') }} : {{ prefs.getCsvDateFormatForDisplay}}</li>
            </ul>
        </li>
    </ul>

    <a href="{{ path('editPrefsUser', {'institutionCode': institutionCode}) }}">{{ 'prefs.edit' | trans({}, 'prefs') }}</a>
{% endblock %}