{% if db is not defined %}
    {% set db = 'recolnat' %}
{% endif %}
{% if app.request.attributes.get('_route') != 'lonesomes' %}
    {% set specimenRecolnat = attribute(specimens.recolnat, catalogNumber) | first %}
    {% set specimenInstitution = attribute(specimens.institution, catalogNumber) | first %}
{% else %}
    {% set specimenRecolnat = specimen %}
{% endif %}

<div class="js_specimen panel panel-default" id="{{ catalogNumber | replace({' ':''}) }}" data-catalognumber="{{ catalogNumber }}">
    <div class="panel-heading">
        {% include '@App/Front/partial/short_specimen.html.twig' with {'specimen' : specimenRecolnat} %}
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" id="tabs">
            <li role="presentation" class="diffs active">
                <a href="#{{ loop.index }}-diffs" data-toggle="tab">
                    {% if app.request.attributes.get('_route') != 'lonesomes' %}
                        {{ 'tab.diffs'| trans }}
                    {% else %}
                        {{ 'tab.lonesomes'| trans }}
                    {% endif %}

                </a>
            </li>
            <li class="specimen">
                <a href="#{{ loop.index }}-specimen" data-toggle="tab"
                   data-tab-remote="{{ path('tabSpecimen', {'db':db, 'collectionCode':collectionCode, 'catalogNumber': catalogNumber, 'type':'specimen'}) }}">
                    {{ 'tab.specimen'| trans }}
                </a>
            </li>
            <li class="determination {{ specimenRecolnat.determinations | length == 0 ? 'disabled' : '' }}">
                <a href="#{{ loop.index }}-deter" data-toggle="tab"
                   data-tab-remote="{{ path('tabSpecimen', {'db':db, 'collectionCode':collectionCode, 'catalogNumber': catalogNumber, 'type':'determination'}) }}">
                    {{ 'tab.determination'| trans }} <span class="badge">{{ specimenRecolnat.determinations|length }}</span>
                </a>
            </li>
            <li class="recolte">
                <a href="#{{ loop.index }}-recolte" data-toggle="tab"
                   data-tab-remote="{{ path('tabSpecimen', {'db':db, 'collectionCode':collectionCode, 'catalogNumber': catalogNumber, 'type':'recolte'}) }}">
                    {{ 'tab.recolte'| trans }}
                </a>
            </li>
            <li class="multimedia {{ specimenRecolnat.multimedias | length == 0 ? 'disabled' : '' }}">
                <a href="#{{ loop.index }}-multimedia" data-toggle="tab"
                   data-tab-remote="{{ path('tabSpecimen', {'db':db, 'collectionCode':collectionCode, 'catalogNumber': catalogNumber, 'type':'multimedia'}) }}">
                    {{ 'tab.multimedia'| trans }} <span class="badge">{{ specimenRecolnat.multimedias|length }}</span>
                </a>
            </li>
            <li class="bibliography {{ specimenRecolnat.bibliographies | length == 0 ? 'disabled' : '' }}">
                <a href="#{{ loop.index }}-biblio" data-toggle="tab"
                   data-tab-remote="{{ path('tabSpecimen', {'db':db, 'collectionCode':collectionCode, 'catalogNumber': catalogNumber, 'type':'bibliography'}) }}">
                    {{ 'tab.bibliography'| trans }} <span class="badge">{{ specimenRecolnat.bibliographies|length }}</span>
                </a>
            </li>
            <li class="stratigraphy {{ specimenRecolnat.stratigraphy | length == 0 ? 'disabled' : '' }}">
                <a href="#{{ loop.index }}-strati" data-toggle="tab"
                   data-tab-remote="{{ path('tabSpecimen', {'db':db, 'collectionCode':collectionCode, 'catalogNumber': catalogNumber, 'type':'stratigraphy'}) }}">
                    {{ 'tab.stratigraphy'| trans }}
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active diffs" id="{{ loop.index }}-diffs">
                {% if app.request.attributes.get('_route') != 'lonesomes' %}
                    {% include '@App/Front/partial/specimen/short_diff_specimen.html.twig' %}
                {% else %}
                    {% include '@App/Front/partial/specimen/short_lonesomes_specimen.html.twig' %}
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane fade specimen" id="{{ loop.index }}-specimen">
            </div>
            <div role="tabpanel" class="tab-pane fade determination" id="{{ loop.index }}-deter">
            </div>
            <div role="tabpanel" class="tab-pane fade recolte" id="{{ loop.index }}-recolte">
            </div>
            <div role="tabpanel" class="tab-pane fade multimedia" id="{{ loop.index }}-multimedia">
            </div>
            <div role="tabpanel" class="tab-pane fade bibliography" id="{{ loop.index }}-biblio">
            </div>
            <div role="tabpanel" class="tab-pane fade stratigraphy" id="{{ loop.index }}-strati">
            </div>
        </div>
    </div>
</div>

