{% if attribute(diffs.datas, catalogNumber) is not empty %}
    <table class="diff table table-striped table-condensed table-bordered">
        <colgroup>
            <col class="xsmall">
            <col class="col-md-1">
            <col class="col-md-5">
            <col class="xsmall">
            <col class="col-md-5">
            <col class="xsmall">
        </colgroup>
        <tbody>
        {% set specimen = attribute(diffs.datas, catalogNumber) %}
        {% for className, details in specimen.classes %}
            {% set relationId = details.id %}
            {% set relationRecolnat = relationById(specimenRecolnat, className, relationId) %}
            {% set relationInstitution = relationById(specimenInstitution, className, relationId) %}
            {% set relationToString = relationByIdToString(specimenRecolnat, className, relationId) %}
            {% set rowspan = details.fields | length  +1 %}
            <tr data-classname="{{ className| lower }}" class="{{ className | lower }} light">
                <td class="diff-class" rowspan="{{ rowspan }}" style="width: 10px !important;">
                    <div>{{ ('label.' ~ className|lower ~ '.abbr') |trans({},'entity')|capitalize }}</div>
                </td>
                <td colspan="2"><h4>{{ relationToString }}</h4></td>
                <td>
                    <button type="button" class="btn btn-default js_select_entity" aria-label="Tout sélectionner" data-class="{{ className }}"
                            data-type='diff-entity' name="{{ relationId }}" value="recolnat">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> {{ 'choix.erecolnat.all' | trans }}
                    </button>
                </td>
                <td>&nbsp;</td>
                <td>
                    <button type="button" class="btn btn-default js_select_entity" aria-label="Tout sélectionner data-class="{{ className }}"
                            data-type='diff-entity' name="{{ relationId }}" value="institution">
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>&nbsp;
                            {{ 'choix.collection.all' | trans({'%collection%':collectionCode}) }}
                    </button>
                </td>
            </tr>

            {% for fieldName, datas in details.fields %}
                <tr data-classname="{{ className| lower }}" class="{{ className | lower }} lighter">
                    <td>
                        {{ getFieldLabel(className, fieldName)|trans({},'entity') }}
                    </td>
                    <td colspan="2" class="field-radio">
                        <div class="pull-left">{{ fieldToString(relationRecolnat, fieldName) }}</div>
                        <div class="pull-right">{% include '@App/Front/partial/inputRadioDiff.html.twig' with { 'value' : 'recolnat'} %}</div>
                    </td>
                    <td colspan="2" class="field-radio">
                        <div class="pull-left">{{ fieldToString(relationInstitution, fieldName) }}</div>
                        <div class="pull-right">{% include '@App/Front/partial/inputRadioDiff.html.twig' with {'value' : 'institution'} %}</div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
