{% set display = true %}
{% if id is defined %}
    {% if specimen.occurrenceid != id %}
        {% set display = false %}
    {% endif %}
{% endif %}

{% if display %}
<div class="row">
    <div class="col-sm-6">
        {{ printLabelAndField(specimen, 'specimen', 'catalognumber', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'institutioncode', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'collectioncode', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'created', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'modified', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'basisofrecord', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'accessrights', true, '<br />')|raw }}

        {{ printLabelAndField(specimen, 'specimen', 'associatedmedia', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'associatedreferences', true, '<br />')|raw }}
    </div>
    <div class="col-sm-6">
        {{ printLabelAndField(specimen, 'specimen', 'associatedtaxa', true, '<br />')|raw }}

        {{ printLabelAndField(specimen, 'specimen', 'bibliographiccitation', true, '<br />')|raw }}

        {{ printLabelAndField(specimen, 'specimen', 'disposition', true, '<br />')|raw }}

        {{ printLabelAndField(specimen, 'specimen', 'lifestage', true, '<br />')|raw }}

        {{ printLabelAndField(specimen, 'specimen', 'occurrenceremarks', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'ownerinstitutioncode', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'recordnumber', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'rights', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'rightsholder', true, '<br />')|raw }}
        {{ printLabelAndField(specimen, 'specimen', 'sex', true, '<br />')|raw }}
    </div>
</div>
{% endif %}
