{% extends '@App/base.html.twig' %}

{% set sumSpecimens = 0 %}
{% block body %}
    <h1 class="page-header">{{'welcome' | trans({'%name%' : institution.institutionCode},'user') }}</h1>
    <h2>{{'listFiles' | trans({},'user') }}</h2>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ path('viewfile', {'collectionCode':file.getFilename, 'institutionCode':institutionCode }) }}">{{file.getFilename}}</a>
                <ul>
                    <li>{{'fichier.creele'|trans({'%date%': file.getCTime|date("d/m/Y"), '%heure%' :file.getCTime|date("H:i:s")})}}</li>
                    <li>{{'fichier.modifiele'|trans({'%date%': file.getMTime|date("d/m/Y"), '%heure%' :file.getCTime|date("H:i:s")})}}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}