{% form_theme form '@App/Themes/bootstrap_3_form_modal.html.twig' %}

{%  set sumLonesomeRecordsRecolnat = attribute(sumLonesomeRecords, keysRef.recolnat)%}
{%  set sumLonesomeRecordsInstitution = attribute(sumLonesomeRecords, keysRef.institution)%}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'prefs.save.title' | trans({}, 'prefs') }}</h4>
    </div>
    <div class="modal-body">
        {%  set countChoices = sumStats.diffs - statsChoices.sum  %}
        {#<p>{{ 'label.export.choices' | transchoice(countChoices, {'%count%':countChoices}) }}</p>#}
        <p>{{ 'label.export.lonesomes.recolnat' | transchoice(sumLonesomeRecordsRecolnat, {'%count%':sumLonesomeRecordsRecolnat}) }}</p>
        <p>{{ 'label.export.lonesomes.collection' | transchoice(sumLonesomeRecordsInstitution, {'%count%':sumLonesomeRecordsInstitution, '%collection%':collection.collectionCode}) }}</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'modal.cancel' | trans}}</button>
        <button type="button" class="btn btn-primary confirm">{{'modal.agree' | trans}}</button>
    </div>
</div><!-- /.modal-content -->
