{% extends '@App/base.html.twig' %}

{% block body %}
    {% include '@App/Front/partial/breadcrumb.html.twig' %}
     <h1 class="page-header">{{'stats.details' | trans }}</h1>

    {% if stats is not empty %}
        {% set countDiffs = 0 %}
        {% set flagPareto = 0 %}
        <table class="table table-bordered table-condensed table-striped diffs" style="table-layout: fixed; ">
            <colgroup>
                <col style="width: 5%">
                <col style="width: 10%">
                <col style="width: 16%">
                <col style="width: 2%">
                <col style="width: 30%">
                <col style="width: 2%">
                <col style="width: 30%">
                <col style="width: 5%">
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{'className' | trans}}</th>
                    <th>{{'fieldName' | trans}}</th>
                    <th colspan="2">Recolnat</th>
                    <th colspan="2">{{ institutionCode}}</th>
                    <th>{{'count.abbr' | trans}}</th>
                </tr>
            </thead>
            <tbody>
            {% for md5key, data in stats %}
                {% set percent =  loop.index / (stats|length) * 100  %}
                
                {% set countDiffs = countDiffs + (data.specimensCode | length) %}
                
                {% if percent >= 20 and flagPareto == 0 %}
                    {% set classTr = 'info' %}
                    {% set flagPareto = 1 %}
                {% else %}
                        {% set classTr = '' %}
                {% endif %}
                
                <tr class="{{classTr}} {{data.className|lower}} lighter">
                    <td>{{ loop.index}} - {{countDiffs}}</td>
                    <td>{{data.className}}</td>
                    <td>{{('label.'~(data.className | lower) ~'.fields.'~data.fieldName) | trans({}, 'entity')}}</td>

                    <td>
                        <input type="radio" class="choice" name="{{md5key}}" data-class="{{data.className}}" data-fieldname="{{data.fieldName}}" value="recolnat">
                    </td>
                    <td>{{data.datas.recolnat is not empty ? data.datas.recolnat : 'empty.field' | trans}}</td>

                    <td>
                        <input type="radio" class="choice" name="{{md5key}}" data-class="{{data.className}}" data-fieldname="{{data.fieldName}}" value="institution">
                    </td>
                    <td>{{data.datas.institution is not empty ? data.datas.institution : 'empty.field' | trans}}</td>
                    <td>
                        {{data.specimensCode | length}}
                        <span class="hidden" rel="{{md5key}}">
                            {{data.specimensCode | json_encode}}
                        </span>
                        <a role="button" data-toggle="collapse" href="#taxon-{{md5key}}" aria-expanded="false" aria-controls="collapseExample">
                            <span class="caret"></span>
                        </a>
                    </td>
                </tr>
                <tr id="taxon-{{md5key}}" class="collapse">
                    <td colspan="8">
                        {% if data.specimensCode | length > 1 %}
                        <a href="{{path('viewSpecimens', {'collectionCode':collectionCode, 'jsonSpecimensCode' : data.specimensCode | keys | json_encode})}}">
                            {{ 'view.specimens' | trans({'%count%' : (data.specimensCode | length) })}}
                        </a>
                        {% endif %}
                        <ul>
                        {% for specimenCode, taxon in data.taxons %}
                            <li>
                                <a href="{{path('viewSpecimens', {'collectionCode':collectionCode, 'jsonSpecimensCode' : ([specimenCode] | json_encode)})}}">
                                    {{taxon}}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/AppBundle/js/viewDiffs.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".choice").on('change', function() {
            // recuperation des clés des enregistrements concernés
            var specimensCode = jQuery.parseJSON($("table.diffs").find("[rel='"+$(this).attr('name')+"']").html());
            var choices=[];
            var radioInput = $(this);
            var fieldName=radioInput.data('fieldname');
            var className=radioInput.data('class');
            var choice = radioInput.attr('value') ;
            $.each(specimensCode, function(specimenCode, relationId) {
                var temp = {
                    'className' : className, 
                    'fieldName' : fieldName,
                    'relationId' : relationId,
                    'choice' : choice,
                    'specimenCode' : specimenCode
                };
                choices.push(temp);
            });
        $.ajax({
                url : Routing.generate('setChoice', {collectionCode:'{{collectionCode}}'}),
                data: {'choices' : choices},
                method: "POST"
            })
        });
    });
    </script>
{% endblock %}
