{% extends '@App/base.html.twig' %}

{% set collectionCode = collection.collectioncode %}
{% set institution = collection.institution %}
{% set choices = exportManager.sessionHandler.choicesForDisplay %}
{% set selectedClassName = app.request.attributes.get('selectedClassName') %}

{% block body %}
    {% set datas = pagination.items %}
    {% if diffs is not empty %}

        <div id="wrapper" class="toggled">
            {% include '@App/Front/partial/module_diff.html.twig' with { 'currentPage': pagination.getCurrentPageNumber} %}

            {#{% include '@App/Front/partial/traitement_lot.html.twig' with { 'currentPage': pagination.getCurrentPageNumber} %}
            {% include '@App/Front/partial/form_search.html.twig' %}#}

            <div id="page-content-wrapper">
                {#{% include '@App/Front/partial/buttonHamburger.html.twig' %}#}
                {% include '@App/Front/partial/breadcrumb.html.twig' %}
                {% include '@App/Front/partial/pagination.html.twig' %}

                <div id="diffs" data-collectionCode="{{ collectionCode }}" data-institutioncode="{{ institutionCode }}" data-selectedclassname="{{ selectedClassName }}">


                    {% for catalogNumber, classWithDiff in datas %}
                        {% include '@App/Front/partial/specimen/fullSpecimen.html.twig' %}
                    {% endfor %}

                    <div class="text-center">
                        <div style="display: inline-block; vertical-align: middle;">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% include '@App/Front/partial/smallModal.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/AppBundle/js/viewDiffs.js') }}"></script>
    {%  include '@App/Front/partial/pagination_js.html.twig' %}
{% endblock %}
