{% extends '@App/base.html.twig' %}

{% set collectionCode = collection.collectioncode %}
{% set institution = collection.institution %}
{% set stats = statsManager.getSortedStats %}
{% set sumStats = statsManager.getSumStats %}
{% set statsChoices = statsManager.getStatsChoices %}
{% set statsLonesomeRecords = statsManager.getStatsLonesomeRecords %}
{% set sumLonesomeRecords = statsManager.getSumLonesomeRecords %}

{% block body %}
    <div class="container-fluid">
        {% include '@App/Front/partial/breadcrumb.html.twig' %}
        <h1 class="page-header">
            {{ 'file.stats.title' | trans({'%name%' : collection.collectionCode},'user') }}
        </h1>

        {% if stats is not empty %}
            <table class="table table-header-rotated">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="rotate">
                        <div><span>{{ 'header.nb.specimens' | trans }}</span></div>
                    </th>
                    <th class="rotate">
                        <div><span>{{ 'header.nb.differences' | trans }}</span></div>
                    </th>
                    <th class="rotate">
                        <div><span>{{ 'header.nb.reste' | trans }}</span></div>
                    </th>
                    <th class="rotate">
                        <div><span>{{ 'header.nb.choix' | trans }}</span></div>
                    </th>
                    <th class="rotate">
                        <div><span>{{ 'header.lonesomeRecords.recolnat' | trans }}</span></div>
                    </th>
                    <th class="rotate">
                        <div><span>{{ 'header.lonesomeRecords.collection' | trans({'%collection%':collectionCode}) }}</span></div>
                    </th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for className, detailedStats in stats %}
                    <tr class="{{ className|lower }}">
                        <th class="row-header col-sm-2">{{ ('label.'~className|lower) | transchoice(detailedStats.specimens, {}, 'entity')|capitalize }}</th>
                        <td class="col-sm-1">
                            {% if detailedStats.specimens > 0 %}
                                <a href="{{ path('diffs', {'institutionCode':institutionCode, 'collectionCode' : collectionCode, 'selectedClassName' : className|lower}) }}">
                                    {{ detailedStats.specimens }}
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td class="col-sm-1">
                            {% if detailedStats.diffs > 0 %}
                                <a href="{{ path('diffs', {'institutionCode':institutionCode, 'collectionCode' : collectionCode, 'selectedClassName' : className|lower}) }}">
                                    {{ detailedStats.diffs }}
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td class="col-sm-1">
                            {% set nbTodos = attribute(statsChoices, className) is defined ? detailedStats.diffs - attribute(statsChoices, className) : detailedStats.diffs %}
                            {% if nbTodos > 0 %}
                                <a href="{{ path('todos', {'institutionCode':institutionCode, 'collectionCode' : collectionCode, 'selectedClassName' : className|lower}) }}">
                                    {{ nbTodos }}
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td class="col-sm-1">
                            {% set nbChoices = attribute(statsChoices, className) is defined ? attribute(statsChoices, className) : 0 %}
                            {% if nbChoices > 0 %}
                                <a href="{{ path('choices', {'institutionCode':institutionCode, 'collectionCode':collectionCode,'selectedClassName':className|lower}) }}"
                                   title="">
                                    {{ nbChoices }}
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        {% if className|lower in ['taxon', 'localisation'] %}
                            <td class="col-sm-1"> - </td>
                            <td class="col-sm-1"> - </td>
                        {% else %}
                        <td class="col-sm-1">
                            {% if attribute(statsLonesomeRecords, className)[keyRecolnat] > 0 %}
                                <a href="{{ path('lonesomes', {'db':'recolnat','institutionCode':institutionCode, 'collectionCode':collectionCode,'selectedClassName':className|lower}) }}">
                                    {{ attribute(statsLonesomeRecords, className)[keyRecolnat] }}
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td class="col-sm-1">
                            {% if attribute(statsLonesomeRecords, className)[keyInstitution] > 0 %}
                                <a href="{{ path('lonesomes', {'db':'institution','institutionCode':institutionCode, 'collectionCode':collectionCode,'selectedClassName':className|lower}) }}">
                                    {{ attribute(statsLonesomeRecords, className)[keyInstitution] }}
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if loop.first %}
                            <td class="col-sm-5" rowspan="{{ loop.length + 1 }}"
                                style="background-color: transparent;text-align:right">
                                <p>
                                    <a href="{{ path('stats', {'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}"
                                       class="btn btn-primary"
                                       role="button">
                                        {{ 'stats.details'| trans }}
                                    </a>
                                </p>
                                <p>
                                    <a data-toggle="modal"
                                       href="{{ path('setPrefsForExport', {'type':'dwc', 'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}"
                                       class=" btn btn-primary checkprefs" role="button" data-target="#spinnerModal">
                                        {{ 'downloadDwc'|trans }}
                                    </a>
                                </p>
                                <p>
                                    <a data-toggle="modal"
                                       href="{{ path('setPrefsForExport', {'type':'csv', 'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}"
                                       class=" btn btn-primary checkprefs" role="button" data-target="#spinnerModal">
                                        {{ 'downloadCsv'|trans }}
                                    </a>
                                </p>
                                <p>
                                    <a href="{{ path('deleteChoices', {'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}"
                                       class="delete deleteChoices btn btn-primary" role="button">
                                        {{ 'delete.choices'|trans }}
                                    </a>
                                </p>
                                <p>
                                    <a href="{{ path('list', {'institutionCode':institutionCode, 'collectionCode' : collectionCode, 'type' : 'alpha'}) }}"
                                       class="btn btn-primary" role="button">
                                        {{ 'list.alpha'|trans }}
                                    </a>
                                </p>
                                {% if app.environment=='dev' %}
                                <p>
                                    <a href="{{ path('deleteDiffs', {'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}"
                                       class="delete deleteDiffs btn btn-primary" role="button">
                                        {{ 'delete.diffs'|trans }}
                                    </a>
                                </p>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td>{{ 'label.total' | trans }}</td>
                    <td>
                        {% if sumStats.specimens > 0 %}
                        <a href="{{ path('diffs', {'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}">
                            {{ sumStats.specimens }}
                        </a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>
                        {% if sumStats.diffs > 0 %}
                        <a href="{{ path('diffs', {'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}">
                            {{ sumStats.diffs }}
                        </a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>
                        {% if sumStats.diffs - statsChoices.sum > 0 %}
                        <a href="{{ path('todos', {'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}">
                            {{ sumStats.diffs - statsChoices.sum }}
                        </a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>
                        {% if statsChoices.sum > 0 %}
                        <a href="{{ path('choices', {'institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}">
                            {{ statsChoices.sum }}
                        </a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>
                        {% if attribute(sumLonesomeRecords, keyRecolnat) > 0 %}
                        <a href="{{ path('lonesomes', {'db':'recolnat','institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}">
                            {{ attribute(sumLonesomeRecords, keyRecolnat) }}
                        </a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td>
                        {% if attribute(sumLonesomeRecords, keyInstitution) > 0 %}
                        <a href="{{ path('lonesomes', {'db':'institution','institutionCode':institutionCode, 'collectionCode' : collectionCode}) }}">
                            {{ attribute(sumLonesomeRecords, keyInstitution) }}
                        </a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        {% else %}
            {{ "label.nodiffs" | trans }}
        {% endif %}

    </div>
    {% include '@App/Front/partial/modal.html.twig' %}

    <svg class="chart"></svg>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/AppBundle/js/d3-3.5.17.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript">
        var collectionCode = '{{ collection.collectionCode }}';
        var institutionCode = '{{ collection.institution.institutioncode }}';
        var datas = [
            {% for className, detailedStats in stats %}
            {
                name: '{{ className|lower }}',
                specimens: {{ detailedStats.specimens }},
                differences: {{ detailedStats.diffs }},
                todos: {{ attribute(statsChoices, className) is defined ? detailedStats.diffs - attribute(statsChoices, className) : detailedStats.diffs }},
                choices: {{ attribute(statsChoices, className) is defined ? attribute(statsChoices, className) : 0 }},
                excluRecolnat: {{ attribute(statsLonesomeRecords, className)[keyRecolnat] }},
                excluInstitution: {{ attribute(statsLonesomeRecords, className)[keyInstitution] }}
            }
            {{ loop.last == false ? ',':'' }}

            {% endfor %}
        ];
    </script>
    <script src="{{ asset('assets/AppBundle/js/viewFile.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var modalSpinner = $("#spinnerModal");
            $(".checkprefs").on('click', function (event) {
                var url = $(this).attr('href');
                var modalPrefs = $("#modal").clone();
                $.get(url, function (data) {
                            modalPrefs.find('.modal-content').html(data);
                            modalPrefs.modal('show');
                        })
                        .success(function () {
                            var urlDownload = modalPrefs.find('form').attr('action');
                            modalPrefs.find('.confirm').on('click', function (event) {
                                $.ajax({
                                            url: urlDownload,
                                            method: "POST",
                                            data: modalPrefs.find('form').serialize(),
                                            beforeSend: function () {
                                                modalSpinner.find('.modal-body h4').remove();
                                                modalSpinner.find('.modal-body').prepend('<h4 class="modal-title center-block">Génération des fichiers en cours</h4>');
                                                modalPrefs.modal('hide');
                                            }
                                        })
                                        .success(function (data) {
                                            path = Routing.generate('download', {path: data.file});
                                            window.location = path;
                                        })
                                        .fail(function (data) {
                                        })
                                ;
                            });
                        });
                event.preventDefault();
            });

            $(".delete").on('click', function (event) {
                var modalDelete = $("#modal").clone();
                var urlDeleteChoices = $(this).attr('href');
                if ($(this).hasClass('deleteChoices')) {
                    modalDelete.find('.modal-title').html('{{ 'deleteChoices.title' | trans }}');
                    modalDelete.find('.modal-body>p').html('{{ 'deleteChoices.text' | trans }}');
                }
                else {
                    modalDelete.find('.modal-title').html('{{ 'deleteDiffs.title' | trans }}');
                    modalDelete.find('.modal-body>p').html('{{ 'deleteDiffs.text' | trans }}');
                }
                modalDelete.modal('show');
                modalDelete.find('.confirm').on('click', function (event) {
                    event.preventDefault();
                    $.ajax({
                                url: urlDeleteChoices,
                                method: "POST",
                                global: false, // désactive le spinner
                                beforeSend: function () {
                                    modalDelete.modal('hide');
                                    modalSpinner.find('.modal-body').append('<p class="text-center">{{ 'generateDiffs' | trans }}</p>');
                                    modalSpinner.modal('show');
                                }
                            })
                            .done(function (data) {
                            })
                            .success(function () {
                                window.location.reload();
                            });
                });
                event.preventDefault();
            })
        });
    </script>
{% endblock %}
