<section class="well{{ loop.index is odd ? ' odd' : '' }} specimen" id="{{specimenCode}}" data-specimencode="{{specimenCode}}">
    {% set specimenRecolnat = attribute(specimensRecolnat, specimenCode) | first %}
    {% set specimenInstitution = attribute(specimensInstitution, specimenCode) | first %}

    {% include 'default/partial/short_specimen.html.twig' with {'specimen' : specimenRecolnat} %}

    <ul class="nav nav-tabs"  id="tabs">
        <li role="presentation" class="active">
            <a href="#{{loop.index}}-diffs" data-toggle="tab">
                {{'tab.diffs'| trans}}
            </a>
        </li>
        <li>
            <a href="#{{loop.index}}-specimen" data-toggle="tab" data-tab-remote="{{path('tabSpecimen', {'institutionCode' : institutionCode, 'collectionCode':collectionCode, 'specimenCode': specimenCode, 'type':'specimen'})}}">
                {{'tab.specimen'| trans}}
            </a>
        </li>
        <li {{specimenRecolnat.multimedias | length == 0 ? 'class="disabled"' : ''}} >
            <a href="#{{loop.index}}-multimedia" data-toggle="tab" data-tab-remote="{{path('tabSpecimen', {'institutionCode' : institutionCode, 'collectionCode':collectionCode, 'specimenCode': specimenCode, 'type':'multimedia'})}}">
                {{'tab.multimedia'| trans}}{{' ('~specimenRecolnat.multimedias|length~')'}}
            </a>
        </li>
        <li {{specimenRecolnat.determinations | length == 0 ? 'class="disabled"' : ''}}>
            <a href="#{{loop.index}}-deter" data-toggle="tab" data-tab-remote="{{path('tabSpecimen', {'institutionCode' : institutionCode, 'collectionCode':collectionCode, 'specimenCode': specimenCode, 'type':'determination'})}}">
                {{'tab.determination'| trans}}{{' ('~specimenRecolnat.determinations|length~')'}}
            </a>
        </li>
        <li>
            <a href="#{{loop.index}}-recolte" data-toggle="tab" data-tab-remote="{{path('tabSpecimen', {'institutionCode' : institutionCode, 'collectionCode':collectionCode, 'specimenCode': specimenCode, 'type':'recolte'})}}">
                {{'tab.recolte'| trans}}
            </a>
        </li>
        <li {{specimenRecolnat.bibliographies | length == 0 ? 'class="disabled"' : ''}}>
            <a href="#{{loop.index}}-biblio" data-toggle="tab" data-tab-remote="{{path('tabSpecimen', {'institutionCode' : institutionCode, 'collectionCode':collectionCode, 'specimenCode': specimenCode, 'type':'bibliography'})}}">
                {{'tab.bibliography'| trans}}{{' ('~specimenRecolnat.bibliographies|length~')'}}
            </a>
        </li>
        <li>
            <a href="#{{loop.index}}-strati" data-toggle="tab" data-tab-remote="{{path('tabSpecimen', {'institutionCode' : institutionCode, 'collectionCode':collectionCode, 'specimenCode': specimenCode, 'type':'stratigraphy'})}}">
                {{'tab.stratigraphy'| trans}}
            </a>
        </li>
    </ul>   

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="{{loop.index}}-diffs">
            {% include 'default/partial/short_diff_specimen.html.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane fade specimen" id="{{loop.index}}-specimen">
        </div>
        <div role="tabpanel" class="tab-pane fade multimedia" id="{{loop.index}}-multimedia">
        </div>
        <div role="tabpanel" class="tab-pane fade determination" id="{{loop.index}}-deter">
        </div>
        <div role="tabpanel" class="tab-pane fade recolte" id="{{loop.index}}-recolte">
        </div>
        <div role="tabpanel" class="tab-pane fade bibliography" id="{{loop.index}}-biblio">
        </div>
        <div role="tabpanel" class="tab-pane fade stratigraphy" id="{{loop.index}}-strati">
        </div>
    </div>

</section>